---
http_interactions:
- request:
    method: post
    uri: https://gate.quadra-mm.com/feed/http.asp
    body:
      encoding: UTF-8
      string: ! '{"user":"user","pass":"pass","dlr":0,"xml":"json","from_number":123456,"number":12345,"message":"foo
        bar","idd":0,"im":0,"route":"","type":"text"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers: {}
    body:
      encoding: UTF-8
      string: ! '{"procedure":"SMS Feed","result":1,"description":"DONE: SMS is in the send queue."}'
  recorded_at: Thu, 06 Feb 2014 04:33:20 GMT
recorded_with: VCR 2.8.0
